body {
background-color: #202020;
color: white;
font-family: 'Indie Flower', cursive;

}
.button {
    display: block;
    height: 200px;
    width: 200px;
    background: #0bdf00;
    border: 2px solid rgba(33, 68, 72, 0.59);
}
#all{
    width: 600px;
    margin-left: auto;
    margin-right: auto;

}

#Header {
    padding: 5px;
    font-size: 52px;
    color: rgb(224, 196, 37);
    

}

#List{
    background-color: #3a3939;
    width: 340px;
    height: 400px;
    padding: 10px;
    margin-left: 10px;
    float: left;
    font-size: 24px;
}
#Menu{

    width: 180px;
    height: 400px;
    padding: 10px;
    float: right;
	
}

#textarea {
    padding: 5px;
    line-height: 1.5;
    border-radius: 10px;
    border: 2px solid #fff;
    box-shadow: 2px 2px 2px #999;
}

.label {
    display: block;
    margin-bottom: 10px;
}